 <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Together:Against</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondadry my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          <button class="btn btn-secondadry my-2 my-sm-0 ml-2" type="submit"><i class="far fa-user-circle"></i></button>
        </form>
    </nav>
    <div class="row">
        <div class="col-12 ">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center">
            <img src="assets/images/couch.png" width="300px"><br>
            Couches
            <hr>
            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>
            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>
            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>            
            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <img src="assets/images/table.png" width="300px"><br>
            Tables
            <hr>
            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>
            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <img src="assets/images/turf.png" width="300px"><br>
            Turf
            <hr>
            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>
            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>

            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>

            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>

            <div class="row pl-2 pr-2 my-1">
                <div class="col-12 pt-2 pb-2 event-turf">
                    Event EVENT EVENT EVENT
                </div>
            </div>
        </div>
    </div>