    <nav class="navbar navbar-dark bg-nav">
        <a class="navbar-brand pt-0 pb-0"><img src="../public/assets/images/TALogo2.png" width="80px">&nbsp;&nbsp;TOGETHER:AGAINST</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondadry my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          <button class="btn btn-secondadry my-2 my-sm-0 ml-2" type="submit"><i class="far fa-user-circle"></i></button>
      </form>
    </nav>

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-6 pt-5">
          <h2>Welcome!</h2>
            	{{user}}
              {{avatar}}
          <br/>
          <p>Thanks for stopping by! Visit the main event hub or select a specific event type.
            <a href="/">here</a></p>
        </div>
      </div>
    </div>

    <footer class="footer">
        <div class="container text-center">
            <span>TOGETHER:AGAINST 2020</span>
        </div>
    </footer>
    
    <script type="text/javascript" src="js/members.js"></script>
