/* form.signup,
form.login {
  margin-top: 50px;
} */

body {
  background: linear-gradient(#313131, #1b1b1b) fixed;
  min-width: 1200px;
}

#main {
  background-image: url("../assets/images/iconsTogether2.png");
}

nav {
  color: #f7ae3f;
  font-family: 'Questrial', sans-serif;
  font-size: 3rem;
}

.navbar-nav,
.nav-link {
  color: #f7ae3f !important;
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
}

footer {
  color: #f7ae3f;
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  background-color: #415a5f;
}

div.event-turf {
  /* border: 1px solid rgb(56, 56, 56);
  border-radius: 2px; */
  background-color: rgba(236, 236, 236, 0.685);
}

.bg-nav {
  background-color: #415a5f;
}

div .tab-pane {
  background-color: rgb(255, 255, 255);
}

.couchEventHeader {
  color: #f7ae3f;
  background-color: #415a5fb6;
}

.couchEventFooter {
  background-color: #415a5fb6;
}

.carouselTop {
  margin-bottom: -20px;
}

.carousel-caption {
  color: #f7ae3f;
  background: linear-gradient(to right, #31313100,  #415a5fc0);
}

.footImage {
  margin-bottom: -3px;
}

.eventTitleBig {
  color: #313131;
}

#disqus_thread {
  background-color: #e8e8e85f;
}

a:link {
  color:#415a5f;
}

a:visited {
  color:#627174;
}

a:hover {
  color: #f7ae3f;
}

.statsText1 {
  word-break: break-all;
}

