body {
  background: linear-gradient(#313131, #1b1b1b) fixed;
}

#main {
  background-image: url("../assets/images/iconsTogether2.png");
}

nav {
  color: #f7ae3f;
  font-family: 'Questrial', sans-serif;
  font-size: 3rem;
}

footer {
  color: #f7ae3f;
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  background-color: #225d68;
}


div.event-turf {
  border: 1px solid rgb(56, 56, 56);
  border-radius: 2px;
  background-color: rgb(230, 230, 230);
}

.bg-nav {
  background-color: #225d68;
}

div .tab-pane {
  background-color: rgb(255, 255, 255);
  
}

.couchEventHeader {
  color: #f7ae3f;
  background-color: #225e68b6;
}

.couchEventFooter {
  background-color: #0000001c;
}


